body {
			font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
			color: Black;
			background-color: #fcfdfe;
			}
h1 {
    text-align: center;
}
h3{
text-align: center;
color: #34AA6D;
}
/* estilo login*/
form {
  border: 3px solid #f1f1f1;
}
table.regitro {
    border: 1px solid #ccc;
    width: 33%;
    margin: auto;
}
.regitro1 {
  width: 93%;
}
/* Full-width inputs */
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button.signupbtn {
    margin-left: 35%;
    width: 30%;
}
/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/*fin estilo login*/
/*.cuadro-ventas {
    display: none !important;
}

.logged-in .cuadro-ventas {
    display: block !important;
}*/
		.navbar-nav1>li {
    margin: 0em 0px 3px 0;
    padding: 0px 0px;
    width: 10%;
    display: inline-block;
}
/*#navbarResponsive{
    overflow: auto;
    white-space: nowrap;
  }*/
.navbar-nav1>li.capa{width: 16%;}

.navbar-nav1>li a {
    border: 1px solid #ccc;
    color: #555;
    padding: 5%;
    margin: 0px auto;
    float: left;
    text-align: center;
    width: 100%;
    background: #ccc;
    cursor: pointer;
    font-weight: 500;
  font-size:1.1vw;
}
.navbar-nav1>li a:hover{
    background: #fff;
    color:#555;
}
    
.navbar-nav1>li>a>span {
    font-size: 26px;
    vertical-align: bottom;
    padding: 0 6px 0 0
}
.navbar-nav1 {
    margin: -1em 0em 0em;
    list-style: none;
    width: 100%;
    bottom: 0px;
    display:inline;
}
@media only screen and (max-width: 768px){
.navbar-nav1>li {
    width: 24%; }
  .navbar-nav1>li a{font-size:2vw;}
}
@media only screen and (max-width: 479px){
.navbar-nav1>li {
    width: 32%; }
  .navbar-nav1>li a {font-size: 3vw;}
}
.page-id-335 .oculto {height: 0;
    overflow-y: hidden;
    position: relative;
    width: 100%  !important;
    margin: auto;}
    
.oculto {
    height: 0;
    overflow-y: hidden;
    position: relative;
    width: 65%;
    margin: auto;
}
.oculto h5{
    margin: 0rem auto 1.3rem;
    color:#fff;
}
.boton-volver {
    position: absolute;
    top: 1vw;
    right: 1vw;
    background-color: #555;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: .5s;
    cursor: pointer;
}
.boton-volver:hover {
    background-color: #ccc;
}
.boton-volver img {
    width: 1.5vw; 
    filter: invert(1);
}

div#navbarResponsive{
    margin-left: 20%;
}
table.Usuarios {
    margin: auto;
}
table.Clientes {
    margin: auto;
}
table.Proveedores {
    margin: auto;
}
.botones {
    margin-left: 9%;
}
